.singlepost{
    width: 100%;
    height: auto;
    background: white; 
    border-radius: 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    --T68779821: 0 1px 2px rgba(0, 0, 0, 0.2);
    padding: 13px 0;
    margin-bottom: 15px;
}
.singlepost .userinfo{
    width: 100%;
    height: 45px;
    padding: 0 17px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.singlepost .userinfo .userinfo-wrapper{
    height: 100%;
    width: auto;
    /* border: 1px solid blue; */
    display: flex;
}
.singlepost .userinfo .userinfo-wrapper img{
    height: 100%;
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    margin-top: 0;
}
.singlepost .userinfo .userinfo-wrapper img:hover{
    filter: brightness(95%);
}
.userinfo .userinfo-wrapper span{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.userinfo .userinfo-wrapper span h4{
    font-size: 0.97rem;
    margin-bottom: 4px;
    cursor: pointer;
}
.userinfo .userinfo-wrapper span h4:hover{
    text-decoration: underline;
    color: blue;
}
.userinfo .userinfo-wrapper span span{
    color: #504f4f;
    font-size: 0.9rem;
}

.post-options{
    /* border: 1px solid red; */
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    transition-property: all;
    transition-duration: 0.3s;
    cursor: pointer;
}
.post-options:hover{
    background: #EBEDF0;
}
.post-options-list{
    width: 200px;
    height: auto;
    /* border: 1px solid red; */
    border-radius: 7px;
    padding: 10px;
    position: absolute;
    z-index: 30;
    right: 17px;
    top: 45px;
    background: white;
    --T68779821: 0 12px 28px 0 rgba(0, 0, 0, 0.2),0 2px 4px 0 rgba(0, 0, 0, 0.1),inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2),0 2px 4px 0 rgba(0, 0, 0, 0.1),inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}
.post-options-list div{
    width: 100%;
    height: 40px;
    /* border: 1px solid red; */
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: #050505;
    transition-property: all;
    transition-duration: 0.3s;
    cursor: pointer;
}
.post-options-list div:hover{
    background: #EBEDF0;
}
.post-options-list div i{
    font-size: 1.5rem;
    margin-right: 10px;
}



.singlepost .post-location{
    color: #504f4f;
    font-size: 0.9rem;
    padding-left: 72px;
}
.singlepost .post-text{
    color: #050505;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.3333;
    padding: 0 17px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.singlepost img, .singlepost video{
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    margin-top: 15px;
}

.post-stats{
    width: 100%;
    height: 40px;
    /* border: 1px solid red; */
    padding: 0px 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.post-stats .post-likes-count{
    /* border: 1px solid green; */
    display: flex;
    align-items: center;
    cursor: pointer;
}
.post-stats .post-likes-count p{
    color: rgb(80, 80, 80);
}
.post-stats .post-likes-count p:hover{
    text-decoration: underline;
    color: blue;
}
.post-stats span span{
    padding: 7px 6px 3px 6px;
    /* border: 1px solid blue; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    background: red;
    color: white;
}

.post-stats .post-comments-count{
    color: rgb(80, 80, 80);
    cursor: pointer;
}
.post-stats .post-comments-count:hover{
    text-decoration: underline;
    color: blue;
}

.post-liked-persons{
    width: 200px;
    height: 200px;
    /* border: 1px solid green; */
    position: absolute;
    z-index: 20;
    top: -205px;
    left: 17px;
    background: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2),0 2px 4px 0 rgba(0, 0, 0, 0.1),inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    overflow: auto;
}

.post-liked-persons .post-liked-person{
    width: 100%;
    height: 40px;
    /* border: 1px solid red; */
}
.post-liked-persons .post-liked-person div{
    height: 100%;
    width: 100%;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
    display: flex;
    /* border: 1px solid red; */
    transition-property: all;
    transition-duration: 0.3s;
}
.post-liked-persons .post-liked-person div:hover{
    background: #EBEDF0;
    background: #f0f2f5;
}
.post-liked-persons .post-liked-person div img{
    height: 100%;
    width: 30px;
    /* border: 1px solid green; */
    border-radius: 50%;
    margin-top: 0;
    margin-right: 5px;
}
.post-liked-persons .post-liked-person div h5{
    margin-top: 5px;
    color: rgb(53, 116, 175);
}





.post-stats-separator{
    /* border: 1px solid blue; */
    margin: 5px 0;
    padding: 0 17px;
}
.post-stats-separator hr{
    color: grey;
}



.post-reactions{
    width: 100%;
    height: 50px;
    /* border: 1px solid red; */
    padding: 0px 17px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post-reactions div{
    /* border: 1px solid blue; */
    height: 100%;
    padding: 0 35px;
    display: flex;
    align-items: center;
    color: rgb(107, 107, 107);
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 5px;
    transition-property: all;
    transition-duration: 0.3s;
}
.post-reactions div:hover{
    background: #EBEDF0;
}




.post-comments-section{
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
}
.mycomment-div{
    width: 100%;
    height: auto;
    /* border: 1px solid blue; */
    padding: 0 17px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
.mycomment-div form{
    /* border: 2px solid black; */
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.mycomment-div .profile-image{
    height: 45px;
    width: 45px;
    /* border: 1px solid green; */
    border-radius: 50%;
    margin-top: 0;
    margin-right: 10px;
}
.mycomment-div .profile-image:hover{
    filter: brightness(95%); 
}
.mycomment-div .mycomment-textInput{
    height: 45px;
    width: calc(100% - 55px);
    background: #EBEDF0;
    border: none;
    outline: none;
    border-radius: 25px;
    padding-left: 20px;
    transition-property: all;
    transition-duration: 0.3s;
    font-size: 1.1rem;
}
.mycomment-div .mycomment-textInput:hover{
    background: #e1e3e6;
}

.mycomment-div span{
    position: absolute;
    right: 70px;
    top: 3.7px;
    font-size: 1.3rem;
    /* border: 1px solid blue; */
    padding: 5px 7px;
    padding-top: 7px;
    border-radius: 50%;
    color: rgb(119, 118, 118);
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;
}
.mycomment-div span:hover{
    background: #d1e1ff;
}

.mycomment-div svg{
    position: absolute;
    right: 30px;
    top: 6px;
    /* border: 1px solid blue; */
    padding: 3px 4px;
    height: 33px;
    width: 33px;
    border-radius: 50%;
    color: rgb(119, 118, 118);
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;
}
.mycomment-div svg:hover{
    background: #d1e1ff;
}

.mycomment-div .mycomment-Fileinput{
    position: absolute;
    right: 30px;
    top: 6px;
    width: 35px;
    height: 35px;
    /* border: 1px solid green; */
    opacity: 0;
    cursor: pointer;
}


.mycomment-image-preview{
    width: 230px;
    height: auto;
    /* border: 1px solid red; */
    margin-left: 55px;
    margin-top: 15px;
    position: relative;
}
.mycomment-image-preview img{
    width: 100%;
    height: auto;
}
.mycomment-image-preview div{
    position: absolute;
    right: 0px;
    top: 0px;
    /* border: 1px solid red; */
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 1.5rem;
    background: #1B74E4;
    color: white;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;
}
.mycomment-image-preview div:hover{
    background: #0c4a96;
}


.mycomment-div form button{
    background: #1B74E4;
    color: white;
    border: none;
    outline: none;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-left: 55px;
    margin-top: 15px;
    transition-property: all;
    transition-duration: 0.3s;
    height: 40px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mycomment-div form button:hover:enabled{
    background: #0c4a96;
}
.mycomment-div form button:disabled{
    cursor: not-allowed;
    background: #79aef0;
}
.mycomment-div form button img{
    margin-top: 0;
    height: 25px;
    width: 25px;
}




.post-comments{
    width: 100%;
    height: auto;
    /* border: 1px solid blue; */
    margin-top: 35px;
}