.edit-comment-modal-container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    height: 100%;
    width: 100%;
    /* border: 1px solid red; */
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.edit-comment-modal{
    width: 500px;
    height: auto;
    /* border: 2px solid red; */
    background: white;
    position: relative;
    border-radius: 8px;
    padding: 17px 0;
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2),0 2px 4px 0 rgba(0, 0, 0, 0.1),inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}

.edit-comment-heading{
    padding: 0 17px;
}
.edit-comment-heading h2{
    text-align: center;
    font-weight: 500;
    color: #050505;
    margin-bottom: 20px;
    margin-top: 5px;
}
.edit-comment-modal .cross{
    position: absolute;
    right: 20px;
    top: 13px;
    /* border: 1px solid red; */
    border-radius: 50%;
    padding: 5px 10px;
    padding-top: 7px;
    padding-bottom: 3px;
    font-size: 1.5rem;
    color: #3a3a3a;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;
    background: #e4e6eb;
}
.edit-comment-modal .cross:hover{
    background: #dbdcdf;
    color: red;
}
.edit-comment-modal hr{
    margin-bottom: 15px;
    opacity: 0.3;
    background: grey;
}




.edit-comment-top{
    width: 100%;
    height: 100px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    padding: 0 17px;
}
.edit-comment-modal .edit-comment-top img{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    /* border: 1px solid green; */
    margin-top: 0;
    margin-right: 10px;
    background: black;
}
.edit-comment-modal .edit-comment-top img:hover{
    filter: brightness(95%);
}
.edit-comment-modal .edit-comment-top textarea{
    height: 100%;
    width: calc(100% - 55px); 
    border: none;
    outline: none;
    background: #EBEDF0;
    border-radius: 10px;
    resize: none;
    font-size: 1rem;
    line-height: 23px;
    padding: 10px 15px;
    transition-property: all;
    transition-duration: 0.3s;
}
.edit-comment-modal .edit-comment-top textarea:hover{
    background: #e1e3e6;
}




.edit-comment-image-preview-wrapper{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}
.edit-comment-image-preview{
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
}



.edit-comment-bottom{
    width: 100%;
    height: 50px;
    /* border: 1px solid red; */
    margin-top: 15px;
    padding: 0px 97px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.edit-comment-bottom span{
    height: 100%;
    width: auto;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
}
.edit-comment-bottom span:hover{
    transition-property: all;
    transition-duration: 0.3s;
    border-radius: 7px;
    background-color: #EBEDF0;
}
.edit-comment-bottom span .commentImage{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.edit-comment-image-icon{
    color: #70b5f9;
}

.edit-comment-bottom span p{
    margin-left: 5px;
    margin-top: 0;
    font-weight: 500;
    color: rgba(0,0,0,0.6);
}




.edit-comment-btn-wrapper{
    width: 100%;
    height: 40px;
    padding: 0 17px;
    margin-top: 15px;
}
.edit-comment-btn{
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #1B74E4;
    color: white;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-comment-btn:hover:enabled{
    background: #0c4a96;
}
.edit-comment-btn:disabled{
    cursor: not-allowed;
    background: #79aef0;
}
.edit-comment-btn-wrapper .edit-comment-btn img{
    margin-top: 0;
    height: 30px;
    width: auto;
}










/* ######################## Responsive style ################### */
@media only screen and (max-width:560px){
    .edit-comment-modal{
        width: 90%;
    }
}

@media only screen and (max-width:480px){
    .edit-comment-bottom{
        padding: 0px 40px;
    }
}

@media only screen and (max-width:380px){
    .edit-comment-modal{
        width: 95%;
    }
}