.login-form-container{
    width: 650px;
    height: auto;
    /* border: 2px solid rgb(235, 234, 234); */
    border-bottom: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: auto;
    margin-top: 20px;
    padding: 20px 30px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    --T68779821: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.login-input-container{
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    margin-bottom: 15px;
}

.login-input-label{
    font-size: 1rem;
    position: relative; 
}
.login-inputBox{
    width: 100%;
    height: 45px;
    margin-top: 5px;
    margin-bottom: 3px;
    outline: none;
    border: none;
    border-radius: 25px;
    padding-left: 45px;
    font-size: 1.2rem;
    background: #EBEDF0;
    transition-property: all;
    transition-duration: 0.3s;
}
.login-inputBox:hover{
    background: #e1e3e6;
}

::placeholder{
    color: rgb(179, 178, 178);
    font-size: 1rem;
}
.login-input-icon{
    position: absolute;
    left: 15px;
    top: 37.4px;
    font-size: 1.1rem;
    color: grey;
}

.login-inputBox+span{
    color: red;
    font-size: 0.9rem;
    margin-left: 5px;
    display: none;
}
.login-inputBox[focused='true']:invalid +span{
    display: block;
    background: #ffcfcc;
    padding: 3px;
}
.login-inputBox[focused='true']:invalid{
    border: 1px solid red;
    color: red;
}



.login-btn{
    height: 39px;
    width: 101px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background: rgb(233, 133, 2);
    color: white;
    opacity: 0.7;
    transition-property: all;
    transition-duration: 0.2s;
}
.login-btn:hover:enabled{
    opacity: 1; 
}
.login-btn:disabled{
    cursor: not-allowed;
    background: rgb(212, 171, 116);
}

.login-btn img{
    height: 100%;
    width: 25px;
}





.forgot-password{
    width: 650px;
    height: 50px;
    border: 1px solid rgb(165, 164, 158);
    border-radius: 3px;
    margin: auto;
    margin-bottom: 20px;
    background: rgb(242, 255, 255);
    opacity: 0.5;
    padding-left: 30px;
    display: flex;
    align-items: center;
}
.forgot-password i{
    color: rgb(1, 27, 27);
    margin-right: 10px;
}
.forgot-link{
    text-decoration: none;
    color: rgb(1, 58, 58);
}











/* ################## Responsive style #################### */
@media only screen and (max-width:684px){
    .login-form-container{
        width: 100%;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .forgot-password{
        width: 100%;
    }
}