.update-grp-container{
    height: 100%;
    width: 45%;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 100;
    overflow: hidden;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border-left: 1px solid rgb(190, 190, 190);
}


.update-grp-header{ 
    width: 100%;
    height: 60px;
    background: white;
    border-top-right-radius: 8px;
    padding: 0px 20px;
    border-bottom: 1px solid rgb(223, 223, 223);
    color: white;
    display: flex;
    align-items: center;
}
.update-grp-cancel{
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: #1B74E4;
    margin-right: 17.5px;
}
.update-grp-header h3{
    font-size: 1.2rem;
    margin-left: 50px;
    color: #292d30;
}







.update-grp-info-container{
    width: 100%;
    height: calc(100% - 60px);
    background: #eef3f8;
    background: white;
    /* border: 2px solid red; */
    overflow: auto;
    padding: 20px 0px;
}
.update-grp-info-container::-webkit-scrollbar {
    width: 7px;
}

.update-grp-info-container::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 5px;
}

.update-grp-info-container::-webkit-scrollbar-thumb {
    background: rgb(199, 199, 199);
    border-radius: 5px;
}

.update-grp-info-container form{
    height: auto;
    width: 100%;
    /* border: 1px solid blue; */
    padding: 0px 20px;
    padding-bottom: 20px;
    border-bottom: 11px solid #e5e9ec;
}
.update-grp-image-container{
    height: 200px;
    width: 200px;
    /* border: 1px solid blue; */
    margin: auto;
    margin-top: 10px;
    border-radius: 50%;
    position: relative;
}
.update-grp-image-loader-container{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: white;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.update-grp-image-loader-container .grpIconLoader{
    height: 50px;
    width: 50px;
}
.update-grp-image-container img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.update-grp-image{
    height: 50px;
    width: 50px;
    /* border: 1px solid red; */
    border-radius: 50%;
    position: absolute;
    bottom: 5%;
    right: 0%;
    background: #1B74E4;
    box-shadow: 0px 0px 20px -8px black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
}
.update-grp-image input{
    height: 50px;
    width: 50px;
    /* border: 1px solid red; */
    border-radius: 50%;
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: pointer;
    opacity: 0;
}
.update-grp-name{
    text-align: center;
    margin-top: 20px;
    width: 100%;
    color: #111b21;
    font-size: 24px;
    font-weight: 400;
}
.update-grp-name i{
    font-size: 18px;
    margin-left: 20px;
    color: #8696a0;
    cursor: pointer;
}
.update-grp-input-wrapper{
    height: auto;
    width: 100%;
    /* border: 1px solid red; */
    position: relative;
    margin-top: 20px;
}
.update-grp-input-wrapper input{
    height: 30px;
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid #54656f;
    font-size: 24px;
    padding-left: 40px;
    padding-right: 40px;
    background: none;
    color: #111b21;
    text-align: center;
}
.update-grp-input-wrapper input:focus{
    border-bottom: 2px solid #1B74E4;
}
.update-grp-input-wrapper i{
    position: absolute;
    left: 3px;
    top:1px;
    font-size: 1.2rem;
    color: #8696a0;
    padding: 3px;
    border-radius: 50%;
    /* border: 1px solid red; */
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;
}
.update-grp-input-wrapper span{
    position: absolute;
    right: 3px;
    top:1px;
    color: #8696a0;
    /* border: 1px solid red; */
    cursor: pointer;
}
.update-grp-input-wrapper img{
    position: absolute;
    height: 24px;
    width: 24px;
    right: 3px;
    top: 1px;
}
.grp-participants{
    text-align: center;
    color: #667781;
    font-size: 16px;
    margin-top: 10px;
}




.grp-desc-and-date{
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    padding: 20px 0px;
    color: #3B4A54;
    font-size: 16px;
    border-bottom: 11px solid #e5e9ec;
    /* border-bottom: 11px solid #f0f2f5; */
}
.grp-desc-and-date .desc{
    padding: 0px 20px;
    position: relative;
}
.grp-desc-and-date .desc i{
    position: absolute;
    right: 10px;
    top: 0px;
    color: #8696a0;
    cursor: pointer;
}
.grp-desc-and-date .date{
    padding: 0px 20px;
    color: #8696a0;
    font-size: 14px;
    margin-top: 15px;
}







.grp-settings-wrapper{
    padding: 20px;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    border-bottom: 11px solid #e5e9ec;
}
.grp-settings-wrapper .settings-icon{
    color: #597181;
    margin-right: 20px;
    font-size: 20px;
    margin-top: 3px;
}
.grp-settings-wrapper p{
    color: #3b4a54;
    font-size: 17px;
}
.grp-settings-wrapper .arrow-icon{
    position: absolute;
    right: 20px;
    color: #597181;
    font-size: 20px;
    margin-top: 4px;
}






.grp-participants-wrapper{
    padding: 20px 0px;
    /* border: 1px solid blue; */
    border-bottom: 11px solid #e5e9ec;
}
.grp-participants-wrapper .participants-count{
    color: #667781;
    font-size: 14px;
    padding: 0px 20px;
}
.update-grp-add-participant{
    width: 100%;
    height: auto;
    /* border: 1px solid green; */
    margin-top: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;
}
.update-grp-add-participant:hover{
    background: #f5f6f6;
}
.update-grp-add-participant-icon{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #1B74E4;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
.update-grp-add-participant{
    color: #111b21;
    font-size: 17px;
}




.update-grp-add-participant-modal-container{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.update-grp-add-participant-modal{
    width: 330px;
    height: auto;
    max-height: 500px;
    background: white;
    position: relative;
    border-radius: 5px;
    /* padding: 22px 24px 20px 24px; */
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2),0 2px 4px 0 rgba(0, 0, 0, 0.1),inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}
.update-grp-add-participant-modal-header{
    width: 100%;
    height: 60px;
    padding: 0px 20px;
    border-bottom: 1px solid rgb(223, 223, 223);
    color: white;
    display: flex;
    align-items: center;
}
.update-grp-add-participant-modal-cancel{
    padding: 7px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: #1B74E4;
    margin-right: 17.5px;
}
.update-grp-add-participant-modal-header h3{
    font-size: 1.2rem;
    margin-left: 12px;
    color: #292d30;
}


.add-participant-modal-bottom{
    width: 100%;
    height: auto;
    max-height: 440px;
    /* border: 1px solid red; */
    padding: 20px;
}
.add-participant-modal-bottom input{
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    background: #EBEDF0;
    border-radius: 25px;
    font-size: 1rem;
    padding-left: 20px;
}
.add-participant-modal-search-results{
    width: 100%;
    height: auto;
    max-height: 150px;
    /* border: 1px solid green; */
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    margin-top: 20px;
}
.add-participant-modal-search-results::-webkit-scrollbar {
    width: 7px;
}

.add-participant-modal-search-results::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 5px;
}

.add-participant-modal-search-results::-webkit-scrollbar-thumb {
    background: rgb(199, 199, 199);
    border-radius: 5px;
}
.add-participant-modal-search-results-loader{
    height: 45px;
    width: 45px;
    margin: auto;
    margin-top: 20px;
}
.add-participant-modal-search-result{
    width: 100%;
    height: auto;
    /* border: 1px solid blue; */
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 10px;
    background: rgb(228, 227, 227);
    cursor: pointer;
    margin-bottom: 10px;
    transition-property: all;
    transition-duration: 0.3s;
}
.add-participant-modal-search-result:hover{
    background: rgb(214, 214, 214);
}
.add-participant-modal-search-result img{
    height: 30px;
    width: 30px;
    /* border: 1px solid blue; */
    border-radius: 50%;
    margin-right: 10px;
}
.add-participant-modal-search-result h3{
    color: #54656f;
    padding-top: 3px;
    font-size: 1rem;
}

.add-participant-modal-users-list{
    width: 100%;
    height: 80px;
    /* border: 1px solid red; */
    display: flex;
    overflow: auto;
    margin-top: 20px;
    padding-bottom: 3px;
}
.add-participant-modal-users-list::-webkit-scrollbar {
    height: 5px;
}

.add-participant-modal-users-list::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 7px;
}

.add-participant-modal-users-list::-webkit-scrollbar-thumb {
    background: rgb(199, 199, 199);
    border-radius: 7px;
}
.add-participant-modal-user{
    height: 100%;
    width: auto;
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    margin-right: 20px;
}
.add-participant-modal-user img{
    height: 50px;
    width: 50px;
    /* border: 1px solid blue; */
    border-radius: 50%;
}
.add-participant-modal-user p{
    color: #54656f;
    font-size: 0.9rem;
    width: 60px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}
.add-participant-modal-user span{
    position: absolute;
    right: 0px;
    top: 30px;
    padding: 3px;
    background: #54656f;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;
}
.add-participant-modal-user span:hover{
    background: #6f8491;
}
.add-participant-modal-addUsers-btn{
    height: 60px;
    width: 60px;
    border: none;
    outline: none;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 37%;
    cursor: pointer;
    color: white;
    box-shadow: 0px 0px 20px -8px black;
    background: #1B74E4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-participant-modal-addUsers-btn:disabled{
    cursor: not-allowed;
    background: #79aef0;
}
.add-participant-modal-addUsers-btn img{
    height: 30px;
    width: 30px;
}









.update-grp-participants-list{
    width: 100%;
    height: auto;
    max-height: 400px;
    /* border: 1px solid green; */
    overflow: auto;
}
.update-grp-participants-list::-webkit-scrollbar {
    width: 7px;
}

.update-grp-participants-list::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 5px;
}

.update-grp-participants-list::-webkit-scrollbar-thumb {
    background: rgb(199, 199, 199);
    background: black;
    border-radius: 5px;
}








.update-grp-exit-and-delete{
    width: 100%;
    padding: 20px;
    /* border: 1px solid blue; */
    color: #ea0038;
    font-size: 17px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.update-grp-exit-and-delete:hover{
    background: #f5f6f6;
}
.update-grp-exit-and-delete p{
    margin-left: 15px;
}






.exit-group-modal-container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    height: 100%;
    width: 100%;
    /* border: 1px solid red; */
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.exit-group-modal{
    width: 330px;
    height: auto;
    /* border: 2px solid red; */
    background: white;
    position: relative;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2),0 2px 4px 0 rgba(0, 0, 0, 0.1),inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}
.exit-group-modal p{
    font-size: 17px;
}
.exit-group-modal-btns{
    width: 100%;
    display:flex;
    justify-content: flex-end;
    margin-top: 30px;
}
.exit-group-modal-btns .confirm-btn{
    margin-left: 4px;
    height: 35px;
    width: 90px;
    border-radius: 3px;
    background:#1B74E4;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.exit-group-modal-btns .confirm-btn:disabled{
    cursor: not-allowed;
    background: #79aef0;
}
.exit-group-modal-btns .confirm-btn img{
    height: 23px;
    width: 23px;
}
.exit-group-modal-btns .cancel-btn{
    height: 35px;
    width: 90px;
    border-radius: 3px;
    background: white;
    border: none;
    outline: none;
    color:#1B74E4;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 1px;
    transition-property: all;
    transition-duration: 0.3s;
}
.exit-group-modal-btns .cancel-btn:hover{
    box-shadow: 0px 2px 7px rgba(10,20,26,0.09),0px 1px 2px rgba(10,20,26,0.05);
}








.delete-group-modal-container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    height: 100%;
    width: 100%;
    /* border: 1px solid red; */
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete-group-modal{
    width: 330px;
    height: auto;
    /* border: 2px solid red; */
    background: white;
    position: relative;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2),0 2px 4px 0 rgba(0, 0, 0, 0.1),inset 0 0 0 1px rgba(255, 255, 255, 0.5);
}
.delete-group-modal p{
    font-size: 17px;
}
.delete-group-modal-btns{
    width: 100%;
    display:flex;
    justify-content: flex-end;
    margin-top: 30px;
}
.delete-group-modal-btns .confirm-btn{
    margin-left: 4px;
    height: 35px;
    width: 90px;
    border-radius: 3px;
    background:#1B74E4;
    border: none;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete-group-modal-btns .confirm-btn:disabled{
    cursor: not-allowed;
    background: #79aef0;
}
.delete-group-modal-btns .confirm-btn img{
    height: 23px;
    width: 23px;
}
.delete-group-modal-btns .cancel-btn{
    height: 35px;
    width: 90px;
    border-radius: 3px;
    background: white;
    border: none;
    outline: none;
    color:#1B74E4;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: 1px;
    transition-property: all;
    transition-duration: 0.3s;
}
.delete-group-modal-btns .cancel-btn:hover{
    box-shadow: 0px 2px 7px rgba(10,20,26,0.09),0px 1px 2px rgba(10,20,26,0.05);
}