.navbar{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid rgb(214, 214, 214);
    background: white;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}





.logo-and-search-container{
    height: 100%;
    width: 300px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    padding: 8px 0px;
}
.navbar-logo-link{
    height: 100%;
    width: 43px;
    margin-right: 15px;
}
.navbar-logo{
    height: 100%;
    width: 100%;
}

.navbar-search-container{
    height: 100%;
    width: 240px;
    /* border: 1px solid blue; */
    position: relative;
}
.navbar-search-container i{
    position: absolute;
    left: 15px;
    top: 13px;
    color: rgb(100, 100, 100);
}
.navbar-search-container input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background: #EBEDF0;
    border-radius: 25px;
    font-size: 1rem;
    padding-left: 40px;
    transition-property: all;
    transition-duration: 0.3s;
}
.navbar-search-container input:hover{
    background: #e1e3e6;
}
::placeholder{
    color: rgb(100, 100, 100);
}

.navbar-search-expand{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    width: 350px;
    /* height: 100px; */
    min-height: 100px;
    /* border: 1px solid red; */
    border-bottom-right-radius: 8px;
    background: white;
    --T68779821: 0 12px 12px rgba(0, 0, 0, 0.2),inset 0 0 0 0 rgba(255, 255, 255, 0.5);
    box-shadow: 0 12px 12px rgba(0, 0, 0, 0.2),inset 0 0 0 0 rgba(255, 255, 255, 0.5);
}
.navbar-expand-input{
    width: 100%;
    height: 60px;
    /* border: 1px solid blue; */
    padding: 8px 20px;
    display: flex;
}
.navbar-search-back{ 
    height: 100%;
    width: 42px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: rgb(100, 100, 100);
    margin-right: 17.5px;
}
.navbar-search-back:hover{
    transition-property: all;
    transition-duration: 0.2s;
    background-color: #EBEDF0;
}
.navbar-search-expand input{
    height: 100%;
    width: 240px;
    border: none;
    outline: none;
    background: #EBEDF0;
    border-radius: 25px;
    font-size: 1rem;
    padding-left: 20px;
    transition-property: all;
    transition-duration: 0.3s;
}
.navbar-search-expand input:hover{
    background: #e1e3e6;
}

.user-search-loader{
    height: 30px;
    width: 30px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 5px;
}
.no-searched-user{
    text-align: center;
    margin-top: 5px;
    color: rgb(77, 76, 76);
}


.search-result-user-wrapper{
    margin: 10px 0px;
    width: auto;
    height: auto;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 20px;
}
.search-result-user{
    width: auto;
    height: 50px;
    /* border: 1px solid red; */
    margin: auto;
    display: flex;
    align-items: center;
    transition-property: all;
    transition-duration: 0.3s;
    padding: 5px;
    border-radius: 5px;
}
.search-result-user:hover{
    background: #EBEDF0;
}
.search-result-user img{
    height: 100%;
    width: 40px;
    border-radius: 50%;
    /* border: 1px solid green; */
    margin-right: 10px;
}








.navbar-links-container{
    height: 100%;
    width: 400px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-link{
    height: 100%;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    padding: 0px 40px;
    text-decoration: none;
    color: black;
    position: relative;
}
.navbar-link:hover{
    transition-property: all;
    transition-duration: 0.3s;
    border-radius: 10px;
    height: 85%;
    background-color: #EBEDF0;
}
.active-navbar-link{
    color: #1B74E4;
    border-bottom: 3px solid #1B74E4;
}
.active-navbar-link:hover{
    background: white;
    border-radius: 0;
    height: 100%;
}



#messages-updates-icon, #notifications-updates-icon{
    color: red;
    font-size: 10px;
    position: absolute;
    left: 70px;
    top: 10px;
}
#notifications-updates-icon{
    left: 65px;
}








.navbar-profile-container{
    height: 100%;
    width: 300px;
    /* border: 1px solid red; */
    padding: 8px 0px;
    display: flex;
    justify-content: flex-end;
}
.navbar-profile-image{
    height: 100%;
    width: auto;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 3px 10px;
    margin-right: 30px;
}
.navbar-profile-image img{
    height: 100%;
    border-radius: 50%;
    margin-right: 7px;
    background: black;
}
.navbar-profile-image h3{
    font-size: 1rem;
}
.navbar-profile-image:hover{
    transition-property: all;
    transition-duration: 0.3s;
    border-radius: 20px;
    background-color: #EBEDF0;
}

.profile-dropdown{
    width: 42px;
    height: 100%;
    /* border: 1px solid blue; */
    border-radius: 50%;
    background-color: #E4E6EB;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}
.profile-dropdown:hover{
    background-color: #dadbe2; 
    transition-property: all;
    transition-duration: 0.2s;
}

.profile-dropdown-items{
    position: absolute;
    top: 55px;
    right: 20px;
    height: auto;
    width: 300px;
    /* border: 1px solid red; */
    background: white;
    border-radius: 7px;
    --T68779821: 0 12px 28px 0 rgba(0, 0, 0, 0.2),0 2px 4px 0 rgba(0, 0, 0, 0.1),inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2),0 2px 4px 0 rgba(0, 0, 0, 0.1),inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    padding: 10px;
}
.profile-dropdown-items hr{
    color: rgb(136, 135, 135);
    margin: 10px 0;
    opacity: 0.5;
}
.dropdown-profile-div{
    width: 100%;
    height: 80px;
    /* border: 1px solid red; */
    padding: 7px;
    display: flex;
    cursor: pointer;
}
.dropdown-profile-div:hover{
    transition-property: all;
    transition-duration: 0.3s;
    border-radius: 10px;
    background-color: #EBEDF0;
}
.dropdown-profile-div img{
    height: 100%;
    width: 66px;
    border-radius: 50%;
    /* border: 1px solid green; */
    margin-right: 10px;
    background: black;
}
.dropdown-profile-div div{
    height: 100%;
    width: calc(100% - 77px);
    /* border: 1px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dropdonw-profile-div div h3{
    color: #050505;
}
.dropdown-profile-div div p{
    color: #65676B;
    font-size: 0.9rem;
    padding-top: 3px;
}


.dropdown-settings-div{
    width: 100%;
    height: 60px;
    /* border: 1px solid red; */
    padding: 7px;
    display: flex;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
.dropdown-settings-div:hover{
    transition-property: all;
    transition-duration: 0.3s;
    border-radius: 10px;
    background: #EBEDF0;
}
.dropdown-settings-left{
    height: 100%;
    width: 115px;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.dropdown-settings-left div{
    height: 100%;
    width: 43px;
    /* border: 1px solid green; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    /* background: #E4E6EB; */
}
.dropdown-setting-left p{
    color: #050505;
}
.dropdown-settings-right{
    height: 100%;
    width: 50px;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 2rem;
    font-weight: 400;
    padding-right: 10px;
}


.dropdown-logout-div{
    width: 100%;
    height: 60px;
    /* border: 1px solid red; */
    padding: 7px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.dropdown-logout-div:hover{
    transition-property: all;
    transition-duration: 0.3s;
    border-radius: 10px;
    background: #EBEDF0;
}
.dropdown-logout-div div{
    height: 100%;
    width: 43px;
    /* border: 1px solid green; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
.dropdown-logout-div p{
    color: #050505;
    margin-left: 12px;
}


.dropdown-logout-div img{
    height: 50px;
    width: 50px;
    margin-left: 38%;
}











/* ################ Responsive style ################### */
@media only screen and (max-width:1190px){
    .logo-and-search-container{
        width: 100px;
    }
    .navbar-search-container{
        width: 40px;
    }
    .navbar-search-container i{
        left: 12px;
    }
    .navbar-profile-container{
        width: 100px;
    }
    .navbar-profile-image{
        display: none;
    }
}

@media only screen and (max-width:700px){
    .navbar-links-container{
        width: 300px;
    }
    .navbar-link{
        padding: 0px 20px;
    }
    #messages-updates-icon{
        left: 50px;
    }
    #notifications-updates-icon{
        left: 45px;
    }
    .navbar-profile-container{
        width: 50px;
    }
}

@media only screen and (max-width:550px){
    .navbar{
        padding: 0px 10px;
    }
    .navbar-links-container{
        width: 250px;
    }
}

@media only screen and (max-width:450px){
    .navbar-links-container{
        width: 200px;
    }
}

@media only screen and (max-width:400px){
    .logo-and-search-container{
        width: 95px;
    }
    .navbar-search-expand{
        width: 100%;
        border-bottom-right-radius: 0px;
    }
    .navbar-logo-link{
        margin-right: 10px;
    }
    .navbar-links-container{
        width: 180px;
    }
    .navbar-link{
        padding: 0px 15px;
    }
    #messages-updates-icon{
        left: 43px;
    }
    #notifications-updates-icon{
        left: 38px;
    }
    .navbar-profile-container{
        width: 45px;
    }
    .profile-dropdown-items{
        width: 100%;
        right: 0;
        top: 54px;
        border-radius: 0px;
    }
    #account-tooltip{
        display: none;
    }
}