.home-page{
    margin-top: 75px;
    width: 100%;
}

.posts{
    width: 900px;
    height: auto;
    margin: auto;
    margin-top: 50px;
}

.home-loader{
    height: 70px;
    width: 70px;
    position: fixed;
    left: 45%;
    top: 40%;
}

.new-posts-available-btn{
    position: fixed;
    top: 90px;
    left: 45%;
    padding: 8px 15px;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 15px;
    background: #1B74E4;
    box-shadow: 0px 0px 20px -8px black;
    color: white;
    cursor: pointer;
    transition-property: all;
    transition-duration: 0.3s;
}
.new-posts-available-btn:hover{
    background: #0c4a96;
}
.new-posts-available-btn svg{
    margin-right: 5px;
}










/* ################### Responsive style ####################### */
@media only screen and (max-width:960px){
    .posts{
        width: 100%;
    }
}

@media only screen and (max-width:600px){
    .posts{
        margin-top: 30px;
    }
}

@media only screen and (max-width:400px){
    .home-loader{
        height: 60px;
        width: 60px;
        left: 40%;
    }
}